html, body {
    height: 100%;
    overflow:hidden;
  }
  
  .atom {
    width: 100%;
    height: 100%;
    /* background: radial-gradient(ellipse at center,  #34679a 0%,#214163 47%,#0d1926 100%); */
  }
  
  .atom > div { 
    position: absolute; 
    top: 20%; 
    left: 50%; 
    margin-left: -103px;
    width: 200px; 
    height: 5bh 00px; 
    border-radius: 50%; 
    border: 1px solid #fff;
    -webkit-transform-style: preserve-3d; 
    -webkit-transform: rotateX(80deg) rotateY(20deg);
    transform-style: preserve-3d; 
    transform: translate(-50% , -50%);
    transform: rotateX(80deg) rotateY(20deg); 
  }
  
  .atom > div:first-of-type:after {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    background: #fff;
    border-radius: 50%;
    -webkit-transform: rotateX(-80deg) rotateY(0);
    transform: rotateX(-80deg) rotateY(0);
    box-shadow: 0 0 25px #fff;
    -webkit-animation: nucleus_ 1s infinite linear;
    animation: nucleus_ 1s infinite linear;
    left: 50%;
    top: 50%;
    margin-top: -10px;
    margin-left: -10px;
  }
  
  .atom > div:nth-of-type(2) {
    -webkit-transform: rotateX(-80deg) rotateY(20deg);
    transform: rotateX(-80deg) rotateY(20deg);
  }
  
  .atom > div:nth-of-type(3) {
    -webkit-transform: rotateX(-70deg) rotateY(60deg);
    transform: rotateX(-70deg) rotateY(60deg);
  }
  
  .atom > div:nth-of-type(4) {
    -webkit-transform: rotateX(70deg) rotateY(60deg);
    transform: rotateX(70deg) rotateY(60deg);
  }
 

  
  
  .atom > div > div {
    width: 200;
    height: 220px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: trail_ 2s infinite linear;
    transform-style: preserve-3d;
    animation: trail_ 2s infinite linear;
  }
  
  .atom > div > div:after {
    content: ""; 
    position: absolute; 
    top: -5px; 
    /* box-shadow: 0 0 12px #fff; */
    left: 50%; 
    margin-left: -5px; 
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    -webkit-animation: particle_ .5s infinite linear;
    animation: particle_ 2s infinite linear;
  }
  

  .atom > div:nth-of-type(1) > div:after {
    background:  url("reactjs.png") no-repeat  center;
    background-size: 20px 20px; 
  }
  .atom > div:nth-of-type(2) > div:after {
    background:  url("logo.png") no-repeat  center;
    background-size: 20px 20px; 
  }
  .atom > div:nth-of-type(3) > div:after {
    background:  url("nodejs.png") no-repeat  center;
    background-size: 20px 20px; 
  }
  .atom > div:nth-of-type(4) > div:after {
    background:  url("veu.svg") no-repeat  center;
    background-size: 20px 20px; 
  }

@-webkit-keyframes trail_ { 
    from {
        -webkit-transform: rotateZ(0deg);
    } to {
        -webkit-transform: rotateZ(360deg);
    }
}

@-webkit-keyframes particle_ { 
  from {
      -webkit-transform: rotateX(90deg) rotateY(0deg); 
      transform: rotateX(90deg) rotateY(0deg); 
  } to {
    -webkit-transform: rotateX(90deg) rotateY(-360deg);  
      transform: rotateX(90deg) rotateY(-360deg); 
  } 
}

@-webkit-keyframes nucleus_ { 
  0% {
      box-shadow: 0 0 0 transparent;
  } 50% { 
      box-shadow: 0 0 25px #fff;
  } 100% { 
      box-shadow: 0 0 0 transparent;
  }
}

  .atom > div:nth-of-type(2) > div,
  .atom > div:nth-of-type(2) > div:after {
    -webkit-animation-delay: -.5s;
    animation-delay: -.5s;
  }
  
  .atom > div:nth-of-type(3)  > div,
  .atom > div:nth-of-type(3)  > div:after {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }
  
  .atom > div:nth-of-type(4) > div,
  .atom > div:nth-of-type(4) > div:after {
    -webkit-animation-delay: -1.5s;
    animation-delay: -1.5s;
  }
  


  /* @keyframes trail_ { 
      from {
          transform: rotateZ(0deg);
      } to {
          transform: rotateZ(360deg);
      }
  } */
  

  
  /* @keyframes particle_ { 
      from {
          transform: rotateX(90deg) rotateY(0deg); 
      } to { 
          transform: rotateX(90deg) rotateY(-360deg); 
      } 
  } */
  
  /* @keyframes nucleus_ { 
      0% {
          box-shadow: 0 0 0 transparent;
      } 50% { 
          box-shadow: 0 0 25px #fff;
      } 100% { 
          box-shadow: 0 0 0 transparent;
      }
  }
   */
